# EditorConfig helps maintain consistent coding styles across editors
# https://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.sh]
indent_size = 2

[*.sls]
indent_size = 2

[*.yaml]
indent_size = 2

[*.yml]
indent_size = 2
